body {
    background-color: #b1d4eb;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline-block;
    width: 33.33%;
    padding: 0;
}

.nav-link {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.nav-link:hover {
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-item .nav-link.active {
    color: #ffffff;
    background-color: #181818;
  }

.container {
    margin-top: 30px;
}

h1 {
    font-size: 3em;
    text-align: center;
    color: #343a40;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: #343a40;
    font-style: italic;
    margin-top: 300px;
}

.table thead th {
    background-color: #343a40!important;
    color: #ffffff;
}

.table, .table td {
    border: 1px solid #000000;
}